* {
  max-width: 100%;
}
body {
  margin: initial;
  background: #dedfe3;
  overflow-x: hidden;
  font-feature-settings: "liga" 0;
}
h2, h3 {
  font-weight: bold;
}
h4, h5, h6 {
  font-weight: 500;
}
article ul {
  padding-left: 1rem;
}
li.accordion {
  list-style-type: none;
}
.accordion-button {
  font-size: inherit;
}
.accordion-button:focus {
  box-shadow: initial;
}
.accordion-button:hover {
  background-color: #e7f1ff;
}
.accordion-button:not:active {
  background-color: initial;
}
.accordion-body {
  padding: 2rem 1.25rem;
  white-space: pre-wrap;
}
.breadcrumb__list {
  padding: initial;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.breadcrumb__list__item {
  list-style: none;
}
h1 {
  margin: 24px 0;
}
a {
  color: inherit;
}
a:not(.article-inner a) {
  text-decoration: none;
}
img {
  height: auto;
}
address {
  margin-bottom: initial;
  font-weight: lighter;
}
.display-none {
  display: none;
}
.ls-half {
  letter-spacing: 0.5px;
}
.lh-ll {
  line-height: 3rem;
}
.pt-6 {
  padding-top: 5rem;
}
.block {
  display: block;
}
.gap {
  gap: 32px;
}
.ul-list {
  padding-left: initial;
  display: flex;
  flex-wrap: wrap;
}
.ul-list li {
  list-style: none;
  background: #fff;
}
.card, .card-img, .card-img-top {
  border-radius: initial;
}
.blogs .card-body .blog-category {
  border: 2px solid #dee2e6;
  border-radius: 0.4rem;
}
.fs-small {
  font-size: 0.8rem;
}
.card-shadow {
  box-shadow: 2px 2px 8px #898989, -2px -2px 8px #898989;
  transition: ease .4s;
}
.card-shadow a {
  color: inherit;
}
.card-shadow:hover, .card-shadow:focus {
  box-shadow: none;
  transition: ease .4s;
}
.carousel-img {
  width: 40%;
  max-width: 240px;
  max-height: 152px;
  margin: auto;
}
.carousel-caption {
  background: #52525299;
  text-shadow: 0 0 8px #444444;
}
.ul-list {
  justify-content: center;
}
.article-container {
  max-width: 960px;
}
.article-inner h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  font-weight: 500;
  border-bottom: 2px solid #030a2e;
}
.article-inner h2 span, .article-inner h3 span, .article-inner h4 span, .article-inner h5 span {
  font-size: inherit;
}
.article-inner h3 {
  margin-top: 24px;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.article-inner h3:before {
  color: #030a2e;
  content: "";
  font-size: 1rem;
  left: 0px;
  position: absolute;
  background: #030a2e;
  width: 8px;
  height: 100%;
  border-radius: 2px;
}
.article-inner h4 {
  position: relative;
  padding-left: 24px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.article-inner h4:before {
  color: #030a2e;
  content: "";
  font-size: 1rem;
  left: 0px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
}
.article-inner img {
  margin: 2rem 0 0;
}
.article-inner p {
  margin-bottom: 0;
}
.article-container a {
  color: #0a58ca !important;
}
.article-container button, .bg-white button {
  background: #fff;
}
.profile-right {
  row-gap: 16px;
}
.position-sticky {
  top: 74px;
}
.thanks-container {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.sitemap-btn {
  z-index: 1;
  transition: .3s;
  position: relative;
}
.sitemap-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 2px solid #03092e;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease .3s;
}
.sitemap-btn:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
pre code {
  background: #1d2020;
  color: #fff;
  padding: 8px;
  display: block;
  border-radius: 8px;
}
.sitemap a {
  text-decoration: initial;
}


@media screen and (max-width:480px) {
  .shadow:hover {
    box-shadow: initial !important;
  }
  .carousel-caption {
    padding-bottom: initial;
  }
  .profile-left-inner {
    position: relative !important;
    top: initial;
  }
}

@media screen and (max-width:896px) {
  .sitemap li::marker {
    content: '▶︎';
    display: inline-block;
  }
}

@media screen and (min-width:481px) {
  .card {
    height: 100%;
  }
  .max-400 {
    max-width: 400px;
  }
  .article-container {
    padding: 0px 24px;
  }
}

@media screen and (min-width:481px) and (max-width:992px) {
  .col-4 {
    width: 40%;
  }
  .col-8 {
    width: 60%;
  }
}

@media screen and (min-width:768px) {
  p, a, li, dt, dd, span, button, div {
    font-size: 1rem;
  }
  .navbar-expand-md {
    justify-content: space-between;
  }
  .navbar-collapse {
    flex-grow: initial;
  }
  .ul-list {
    justify-content: flex-start;
  }
  .shadow:hover {
    box-shadow: initial !important;
    transition: ease .4s;
  }
}

@media screen and (min-width:992px) {
  .profile-right {
    height: 120vh;
  }
}