header {
  /* background: #030a2e; */
  z-index: 100;
}

@media screen and (max-width:767px) {
  .navbar-nav {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width:768px) {

}